@tailwind base;
@tailwind components;
@tailwind utilities;

/*removes arrows of number input fields*/
@layer base {
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

:root {
  @apply bg-neutral-50 text-neutral-700 dark:bg-neutral-900 dark:text-neutral-50;
}
