:root {
  /* --- Custom Theme --- */
  /* primary (#6e9378) */
  --color-primary-50: 246 248 247;
  --color-primary-100: 232 238 233;
  --color-primary-200: 208 220 211;
  --color-primary-300: 182 201 187;
  --color-primary-400: 150 177 157;
  --color-primary-500: 110 147 120;
  --color-primary-600: 100 134 109;
  --color-primary-700: 91 123 100;
  --color-primary-800: 81 108 88;
  --color-primary-900: 68 91 74;
  /* accent (#F9C900) */
  --color-accent-50: 255 251 235;
  --color-accent-100: 255 246 209;
  --color-accent-200: 255 238 168;
  --color-accent-300: 255 226 112;
  --color-accent-400: 255 215 56;
  --color-accent-500: 249 201 0;
  --color-accent-600: 230 184 0;
  --color-accent-700: 204 163 0;
  --color-accent-800: 173 139 0;
  --color-accent-900: 138 110 0;
  /* warning (#DC482E) */
  --color-warning-50: 253 244 242;
  --color-warning-100: 251 232 229;
  --color-warning-200: 245 205 198;
  --color-warning-300: 240 175 163;
  --color-warning-400: 232 136 120;
  --color-warning-500: 220 72 46;
  --color-warning-600: 210 61 35;
  --color-warning-700: 192 56 32;
  --color-warning-800: 170 50 29;
  --color-warning-900: 149 43 25;
  /* surface (#3D4451) */
  --color-surface-50: 243 244 246;
  --color-surface-100: 232 234 237;
  --color-surface-200: 203 207 216;
  --color-surface-300: 168 175 189;
  --color-surface-400: 127 138 159;
  --color-surface-500: 61 68 81;
  --color-surface-600: 64 71 84;
  --color-surface-700: 57 63 76;
  --color-surface-800: 57 63 76;
  --color-surface-900: 57 63 76;
}
